.bill-container {
    padding: 10px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 5px;

    .bill-subheading {
        margin-top: 10px;
        font-weight: 800 !important;
    }
}