// Login colors
$color_1: #333;
$color_2: #d9d9d9;
$color_3: #999;
$color_4: #d1bb9e;
$color_5: #555;
$color_6: #fff;
$font-family_1: "Poppins", sans-serif;
$font-family_2: "poppins", sans-serif;
$background-color_1: #41B06E;
$warning_color: #EE4E4E;
$primary_color: #1976d2;

// Card colors
$background-color_card: #ffffff;

