@import "./colors.scss";

.card-container {
    height: 10em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: $background-color_card;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    overflow: hidden;

    .card-header {
        background-color: $primary_color;
        color: $color_6;
        border-bottom: 1px solid $primary_color;

    }

    .card-content {
        h1 {
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }
    }
}
